body {
	font-family: 'Lato', sans-serif;
}

.background{
	position: relative;
}

.backphoto{
	padding-top: 2.5%;
}

.textblock{
	position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 0.5%;
    padding-bottom: 0.15%;
    padding-right: 1.25%;
    padding-left: 1.25%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
}

.centered {
	text-align:center;
	font-family: 'Lato', sans-serif;
	color: white;
}
.github{
	font-family: 'Lato', sans-serif;
	padding-top: 7%;
    padding-bottom: 1%;
}
.twitter{
	font-family: 'Lato', sans-serif;
	padding-top: 7%;
    padding-bottom: 1%;
}
.youtube{
	font-family: 'Lato', sans-serif;
	padding-top: 7%;
	padding-bottom: 1%;
}